[submodule "themes/charlolamode"]
	path = themes/charlolamode
	url = https://github.com/charlola/hugo-theme-charlolamode.git
[submodule "themes/lovelt"]
	path = themes/lovelt
	url = https://github.com/dillonzq/LoveIt
